
.button {
  &.button-cta {
    font-size: 1.4rem;
    font-family: $font-stack-headline;
    padding: 1.6rem 2.4rem;
    color: $color-background;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background: $color-branding;
    border: .1rem solid $color-branding;
    transition: border .3s $easing,
                color .3s $easing,
                background .3s $easing;

    &:hover {
      background: transparent;
      color: $color-branding;
    }
  }
}