
.dates {
  &-head {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & + .news-loop-items {
      margin-top: 1.1rem;
    }
  }

  &-headline {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  a {
    border-bottom: 0;

    &.show-all {
      margin-left: auto;

      & + .slider-controls {
        margin-left: 3rem;
      }
    }
  }

  &-item {
    
    a {
      padding: 0.5rem 0;
      display: flex;
      align-items: center;
      position: relative;
      @extend %icon;

      &::after {
        content: '\f105';
        font-size: 2.4rem;
        color: $color-font-meta;
        position: absolute;
        right: 0;
        transform: translate3d(-10px, 0, 0);
        opacity: 0;
        transition: opacity .3s $easing,
                    transform .3s $easing;
      }

      &:hover {
        &::after {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }

        .title {
          strong {
            color: $color-branding;
          }
        }
      }
    }

    & + & {
      border-top: 1px solid $color-light-gray;
    }

    .date {
      text-align: center;
      font-family: $font-stack-headline;

      strong {
        font-size: 2.4rem;
        font-weight: 700;
        display: block;
      }
      
      small {
        text-transform: uppercase;
        font-weight: 300;
        display: block;
      }
      
      & + .title {
        margin-left: 2rem;
      }
    }
    
    .title {
      line-height: 1.5;

      strong {
        transition: color .3s $easing;
        font-size: 1.6rem;
        display: block;
      }
      
      small {
        font-size: 1.4rem;
        font-weight: 300;
        display: block;
      }
    }
  }
}