
.site-main {
  & + .footer {
    margin-top: 10rem;
  }
}

.footer {
  background: $color-dark-gray;
  padding: 10rem 0;
  color: $color-light-gray;
  font-size: 1.4rem;

  a {
    color: $color-light-gray;
    border: 0;
  }

  &-meta {
    display: flex;
    width: 100%;
    
    &-columns {
      width: 50%;
      display: flex;
    }

    &-column {
      width: 50%;
      line-height: 1.6;

      .footer-meta-headline {
        @extend %icon;

        &::before {
          content: '\f041';
          margin-right: .5rem;
        }
      }
    }
    
    &-navigation {
      width: 50%;
    }

    &-headline {
      color: $color-background;
      font-family: $font-stack-headline;
      font-weight: 700;
      font-size: 1.8rem;

      & + div,
      & + ul {
        margin-top: 1.3rem;
      }
    }
  }

  &-copyright {
    margin-top: 5rem;
    padding-top: 5rem;
    border-top: 1px solid $color-font;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.4rem;

    &-text {
      margin-left: auto;
    }

    .menu {
      display: flex;

      &:nth-of-type(2) {
        margin-left: auto;
      }

      li + li {
        margin-left: 1rem;
      }

      .instagram,
      .facebook {
        a {
          @extend %icon;
    
          &::before {
            margin-right: .5rem;
          }
        }
      }
    
      .instagram {
        margin-left: auto;
    
        a {
          &::before {
            content: '\f16d';
          }
        }
      }
    
      .facebook {
        margin-left: 2rem;
    
        a {
          &::before {
            content: '\f082';
          }
        }
      }
    }
  }

  .menu {
    line-height: 1.6;
  }
}