
.hero-container {
  position: relative;
  height: 61rem;
  overflow: hidden;

  .wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
  }

  &-content {
    width: percentage(1/2.5);
    background: $color-background;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 6rem 6rem;
    margin-left: -6rem;

    small {
      font-size: 1.4rem;
      text-transform: uppercase;
      display: block;

      & + .hero-container-headline {
        margin-top: 1.4rem;
      }
    }
  }

  &-headline {
    font-size: 4.8rem;
    color: $color-font-headline;
    text-transform: uppercase;
    font-family: $font-stack-headline;
    font-weight: 700;

    & + .hero-container-subline {
      margin-top: 2rem;
    }
  }

  &-subline {
    font-size: 1.8rem;
    line-height: 1.4;

    & + .button {
      margin-top: 2.2rem;
    }
  }

  figure {
    &.background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  & + .news-dates {
    margin-top: 4.7rem;
  }
}