
.meta-navigation {
  background: $color-dark-gray;

  a {
    font-size: 1.4rem;
    color: $color-font-meta;
    border: 0;
  }

  ul {
    display: flex;

    li {
      a {
        padding: 1.1em 0;
        display: block;

        &:hover {
          color: $color-background;
        }
      }
    }
  }

  .instagram,
  .facebook {
    a {
      @extend %icon;

      &::before {
        margin-right: .5rem;
      }
    }
  }

  .instagram {
    margin-left: auto;

    a {
      &::before {
        content: '\f16d';
      }
    }
  }

  .facebook {
    margin-left: 2rem;

    a {
      &::before {
        content: '\f082';
      }
    }
  }
}