
.news-loop {
  width: 70%;

  &-head {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & + .news-loop-items {
      margin-top: 1.1rem;
    }
  }

  &-headline {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  a {
    border-bottom: 0;

    &.show-all {
      margin-left: auto;

      & + .slider-controls {
        margin-left: 3rem;
      }
    }

    &:hover {
      .image {
        img {
          transform: translate3d(0,0,0) scale(1.1);
          opacity: .8;
        }
      }

      .title {
        color: $color-branding;
      }
    }
  }

  .slider-controls {
    button {
      @extend %icon;
      appearance: none;
      border: 0;
      background: none;
      font-size: 2.1rem;

      span {
        display: inline-block;
        text-indent: -9999px;
      }
    }

    &-prev {
      &::after {
        content: '\f104';
      }
    }

    &-next {
      &::after {
        content: '\f105';
      }
    }
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    width: calc((100% / 3) - (2 * 3.2rem) / 3);
    margin-right: 3.2rem;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    .image {
      width: 100%;
      overflow: hidden;
      background: $color-branding;

      img {
        width: 100%;
        transform: translate3d(0,0,0);
        transition: transform .3s $easing,
                    opacity .3s $easing;
      }
    }

    .title {
      transition: color .3s $easing;
    }

    .excerpt {
      font-size: 1.6rem;
      line-height: 1.5;
    }

    .date {
      color: $color-font-meta;
    }
  }

  & + .dates {
    width: calc(30% - 3rem);
    margin-left: 3rem;
  }
}