.notice {
  max-height: 0;
  overflow: hidden;
  animation: fadeIn .75s $easing forwards;
  animation-delay: 1250ms;

  .wrapper {
    padding: 2.6rem 0;
  }

  &-js {
    display: none;
    background: orangered;
    color: $color-background;

    .button {
      &-cta {
        border: .1rem solid $color-background;
        background: transparent;
  
        &:hover {
          background: $color-background;
          color: orangered;
        }
      }
    }
  }

  &-headline {
    font-size: 2.1rem;
    font-family: $font-stack-headline;
    font-weight: 300;
    @extend %icon;

    &::before {
      content: '\f071';
      margin-right: .5em;
    }
  }

  &-text {
    font-size: 1.6rem;
    line-height: 1.6;
  }

  @keyframes fadeIn {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 100vh;
    }
  }
}

.no-js {
  .notice-js {
    display: block;
  }
}