
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

html,
body {
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: $font-stack;
	color: $color-font;
}


a {
	color: $color-font;
	text-decoration: none;
	border-bottom: .1rem solid #c1c1c1;
	transition: color .3s ease;
}

%icon {
	&::before,
	&::after {
		font-family: $font-stack-icons;
	}
}

figure,
img {
	display: block;
	margin: 0;
	padding: 0;
}

ul,
ol {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-stack-headline;
}