// Vars

// Colours
$color-background:      #fff;
$color-dark-gray:       #1e1e1e;
$color-light-gray:      #e9e9e9;
$color-font:            #4d4d4d;
$color-font-meta:       #838383;
$color-font-headline:   $color-dark-gray;

$color-branding:         #e57d26;

// Fonts
$font-stack:              'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-stack-headline:     'Asap', $font-stack;
$font-stack-icons:        'FontAwesome';

// Dimensions
$content-width:          1200px;

// Transitions
$easing:                 cubic-bezier(0.645, 0.045, 0.355, 1);